<div id="title">
	<span id="playername">{{playername}}</span>
	<span id="subtitle">vs the world </span>
</div>

<div id="question" ng-show="currentQuestion != null">
<h1>{{currentQuestion.statement}}</h1>
	<button class="reponseQuiz circle{{$index}}" id="reponse-{{currentQuestion.id}}-{{$index}}" ng-repeat="a in currentQuestion.answers" ng-click='highlight(currentQuestion.id, $index)'>{{a.text}}</button>
	<button class="confirmQuiz" ng-repeat="a in currentQuestion.answers" ng-show="highlighted == $index" ng-click='answering(currentQuestion.id, $index, a.weight)'>Confirmer</button>
</div>
<div id="cartouche" ng-show="currentQuestion != null">
<p>Theme : {{theme}}</p>
<p>Timer : {{currentScore}}</p>
<p>Score : {{score}} </p>
<p>Question : {{numeroQuestion}} / {{nbQuestions}}</p> 
</div>

<div ng-show='error != null' class="error">{{error}}</div> 